.header-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(31, 37, 26, 0.637);
    border-radius: 20px;
    flex-wrap: wrap;
}
.header-logo{
display: flex;
align-items: center;
}

.header-logo-a{
    display: flex;
}
.header-img-logo-text{
    width: 100px;
 
}
.header-h1{
    color: #784719;
    
}
.header-nav{
    display: flex;
}
.header-nav-ol{
    list-style: none;
    display: flex;
    gap: 20px;
   padding: 0 0;
   flex-wrap: wrap;
}

.header-nav-ol-li{
    display: flex;
    cursor: pointer;

}
.header-nav-ol-li-a{
    text-decoration: none;
    color: white;
    font-size: 23px;
    padding: 3px;
    position: relative;
    font-weight: bold 700;
    transition: 0.5s;
}
.header-nav-ol-li-a:hover{
    transform: scale(1.1);
}
.header-nav-ol-li-a::after{
    content: "";
    width: 0;
    height: 4px;
    background: #455a64;
    position: absolute;
    bottom: 0;
    right: 50%;
    transition: all .5s;
    will-change: width;
    
}
.header-nav-ol-li-a:hover:after{
    width: 100%;
    right: 0;
    
    
}


